.section{
    background: -webkit-gradient(-45deg, from(#a5cd14), to(#00b496));
    background: -webkit-linear-gradient(-45deg,#00b496  20%, #a5cd14);
    background: linear-gradient(-45deg,#00b496, #a5cd14);
}

